@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.court-info {
  grid-template-rows: 30px;
  grid-template-columns: 50px 200px 80px 80px 200px 50px;
  justify-content: center;
  align-content: center;
  @apply grid;
}

.score-info {
  grid-template-rows: 30px;
  grid-template-columns: 50px 200px 80px 80px 200px 50px;
  justify-content: center;
  align-content: center;
  @apply grid mb-3;
}

.court {
  grid-template-rows: 40px 120px 120px 40px;
  grid-template-columns: 50px 200px 80px 80px 200px 50px;
  justify-content: center;
  align-content: center;
  @apply grid;
}

.court > div {
  border: solid #fff;
  border-width: 1px 0 0 1px;
  background: #028d35;
  @apply break-all p-2;
}

.court > div.active-serve {
  @apply bg-red-500;
}

.court > div.active-receive {
  @apply bg-yellow-500;
}

.court > div.active-serve span::after {
  content: "serve";
  @apply text-xs text-white block;
}

.court > div.active-receive span::after {
  content: "receive";
  @apply text-xs text-white block;
}

.court > div.player {
  @apply flex items-center text-sm text-white text-center;
}

.court > div:nth-child(6),
.court > div:nth-child(12),
.court > div:nth-child(16),
.court > div:nth-child(22) {
  border-right-width: 1px;
}

.court > div:nth-last-child(-n + 6) {
  border-bottom-width: 1px;
}

.court > div:nth-child(9),
.court > div:nth-child(10) {
  grid-row: 2/4;
}

.court > div:nth-child(9) {
  grid-column: 3;
}

.court > div:nth-child(10) {
  grid-column: 4;
}

@media (max-width: 599px) {
  .court-info {
    grid-template-rows: 30px;
    grid-template-columns: 8% 30% 12% 12% 30% 8%;
    @apply grid;
  }

  .court {
    grid-template-rows: 20px 60px 60px 20px;
    grid-template-columns: 8% 30% 12% 12% 30% 8%;
    @apply grid;
  }

  .score-info {
    grid-template-rows: 30px;
    grid-template-columns: 8% 30% 12% 12% 30% 8%;
    @apply grid mb-3;
  }
}
